main{
	background: white;
	width: 30%;
	height: 40%;
	position: relative;
    bottom: 0px;
    padding-right: 30px;
    left: 20%;
	}

form {
	background: white;
	width: 400px;
	height: 300px;
	position: center;
	margin-right: 
}

.btn_con {
	position: center;
	width: 30px;
	padding-right: 30px;
    left: 20%;
}