<h2  class="title">Liste des joueurs</h2>
<ul *ngIf="players.length > 0" class="list">
    <li *ngFor="let player of players">
        <h4><a [routerLink]="['/tennis', player.name, player.sport]">{{player.name}}</a></h4>
      </li> 
  </ul>

<h2 class="title2" (click)="goalPlus = !goalPlus"> + 9 victoires</h2>
<ul *ngIf="players.length > 0" [hidden]="goalPlus"  class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.victoires >= 10">
    <h4>{{player.name}}</h4>
    <p>{{player.victoires}} victoires en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>

<h2 class="title3" (click)="goalLess = !goalLess"> - 9 victoires</h2>
<ul *ngIf="players.length > 0" [hidden]="goalLess" class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.victoires < 10">
    <h4>{{player.name}}</h4>
    <p>{{player.victoires}} victoires en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>

<h2 *ngIf="players.length === 0"> Il n'ya pas de statistiques, pour le moment ! </h2>

