#titre{
	text-align: center;
	margin-left:10px;
}

#form1{
	margin-left:  40%;
	margin-top: 14%;
	border: 2px solid black;
	width: 20%;
	height: -20%;
	padding-left: 60px;
	padding-right: -10px;
	
}

#pseudo{
	margin-left: 41px;
	margin-bottom: 30px;
	margin-top: 40px;
}

#inscription{
	margin-left:10px;
	margin-top:10px;
	display: inline-block;
}

#connection{
	margin-left: 35%;
	margin-top: 2%;
}

#motDePasseOublier{
	margin-left: 43%;
	margin-top:-20%;
	display: inline-block;
}

#imgphp{
	width: 20%;
	height: 30%;
	float: left;
	margin-top: 12%;
}

#imghtml{
	width: 20%;
	height: 30%;
	float: left;
	margin-top:-5%;
	margin-left: -4%;
}

#imgcss{
	width: 20%;
	height: 30%;
	float:right;
	margin-top: 3%;
	margin-right: 38%;
}

#imgangular{
	width: 20%;
	height: 30%;
	float:right;
	margin-top: 10%;
}
#imgjavascript{
	width: 20%;
	height: 30%;
	float: right;
	margin-top:-3%;
	margin-right:-5%;
}
