#date{
	margin-top: 10px;
	width: 45%;
	margin-left: 2%;
}

#form1{
	margin-left:  40%;
	margin-top: 14%;
	border: 2px solid black;
	box-shadow: 6px 6px 6px black;
	width: 20%;
	height: -20%;
	padding-left: 60px;
	padding-right: -50px;
	
}

#email{
	margin-left:41px;
	margin-bottom: 10px;
	margin-top:30px;
	
}

#date2{
	margin-left: -10%;
}

#submit{
	margin-top: 30px;
	margin-left: 35%;
}

#firstname{
	margin-top: 25px;
	margin-left: 9%;
}

.pseudo{
	padding-top:10%;
	margin-left :  10%;
}

#password{
	margin-top: 5%; 
}

#inscription{
	text-align: center;
}