
body{
	background-color:bisque;
}

.test{
	background-color:orange;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:darkred;
	margin-bottom: 30px;
}

.test2{
	background-color:olivedrab;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:aquamarine;
}

.test3{
	background-color:blueviolet;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:bisque;
}

#envoye{
	margin-left: 40%;
	margin-top: 20px;
}

#nom{
	margin-left: 17.5px;
	margin-top: 20px;
	margin-top:45px;
	
}

#adresse{
	margin-left: 3px;
	margin-top:20px;
}

#fonction{
	margin-left: 0.5px;
	margin-top:20px;
}

#form{
	margin-top: 20px;
	margin-left: 20%;
	border:2px solid black;
	border-width:thin;
	border-radius:5%;
	width: 14%;
	background-color:lightcyan;
	color:darkviolet;
	background-position: top;
	background-image: url(images/Icone-formulaire1_6.png);
	background-position: top;
	background-size:12%;
	background-repeat: no-repeat;
	
	
}

#prenom{
	margin-top:20px;
}

#select{
	border:4px dashed blue;
	width: 20%;
}

tr{
	color:saddlebrown;
}
