body{
	background-color:bisque;
}

.test{
	background-color:orange;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:darkred;
}

.test2{
	background-color:olivedrab;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:aquamarine;
}

.test3{
	background-color:blueviolet;
	border-radius:5%;
	border:2px solid black;
	text-align:center;
	display:inline-block;
	width: 30%;
	color:bisque;
}

