nav {
    background-color: coral;
    width: 120px;
}

section {
    display: block;
    color: #25283D;
    font-size: 1.8rem;
    border-top: 5px solid #f2f2f2;   
        
}
div a {
 
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 20%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 5px solid #f2f2f2;

}