<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-inverse p-4">
            <a href="#"><h4 class="text-white">First Link</h4></a>
            <a href="#"><h4 class="text-white">Second Link</h4></a>
            <a href="#"><h4 class="text-white">Third Link</h4></a>
        </div>
        </div>
        <nav class="navbar navbar-inverse bg-inverse">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
</div>