


span{

}

ul{
	margin-left:30%;
}

nav{
	position:relative;
	background-color: black;


}

ul li a:nth-child(1) {
	background-color: black;
	color:white;
}

li{
	margin-left: 100px;
}

@media screen and (max-width: 900px) { 
	width:100%;
}

