nav.menu li{
    list-style:none;
    display: inline;
    margin: 5%;
    color: #fff;
}
nav.menu li a{
    text-decoration: none;
    color: #fff;
}
nav.menu ul{
    
}
section{height: 5%;background-color: black;padding-top: 2%;}