{% include "AstonAppBundle:Default:navigation.html.twig" %}
{% include "AstonAppBundle:Default:header.html.twig" %}
{% include "AstonAppBundle:Default:footer.html.twig" %}

<div class="jumbotron">
  <h2 class="display-3">Bienvenue au groupe POEC PHP-Sybjdfghjklmùazertyuimfony</h2>
  <p class="lead"></p>
  <hr class="my-4">
  <img src="{{ asset('images/oups.gif') }}" alt="test" />
  <p>Les étudiants du POEC sont très sympats et le prof super! Si tu veux participer dans la classe tu peux t'incrire.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">Lire plus</a>
  </p>
</div>
