{% extends 'AstonAppBundle::layout.html.twig' %}
{% block body %}
	<p>Bienvenu dans Aston.io !</p>
	<div>
		<ul>
			<li><a href="./etudiant">Liste des etudiants</a></li>
			<li><a href="./etudiant/new">Ajouter un etudiant</a></li>
		</ul>
	</div>
{% endblock %}