
  {% extends 'baseeleve.html.twig' %}

  
  

      {% block nav %}
      <nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link active" href="{{ path('app_homepage') }}">Accueil</a>
  <a class="nav-item nav-link" href="{{ path('eleve_index') }}">Liste des eleves</a>
  <a class="nav-item nav-link" href="{{ path('eleve_new') }}">Ajouter un eleve</a>
  <a class="nav-item nav-link disabled" href="#">Retour</a>
</nav>
{% endblock %}
{%block header%}
   ici le block header
    {%endblock%}
        {% block body %}
        <h1>block body</h1>
        Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec {% endblock %}
        {% block javascripts %}{% endblock %}
   
   {%block footer%}
    
<div class="form">
<img src="{{asset('image/dora.jpeg')}}" alt="">
</div>
    {%endblock%}

   