<ul class="nav">
	<li class="item"><a href="/">Accueil</a></li>
	<li class="item"><a href="/etudian">Liste des étudiants</a></li>
	<li class="item"><a href="/etudiant/new"></a>Ajouter etudiant</li>
</ul>