<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{{ path('aston_app_homepage') }}">Home</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" id="liste" href="{{ path('etudiants_index') }}">Liste des Etudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ajouter1" href="{{ path('etudiants_new') }}">Ajouter un etudiant</a>
    </li>
  </ul>
</nav>