.col
{
	border:1px solid black;	
}
li
{
	
	list-style-type: none;
}
#one
{
	background-color: green;
}
#two
{
	background-color: orange;
}
#tree
{
	background-color: red;
}
h2
{
	margin-left: -40px;
	margin-top:-32px;
}
