<h2  class="title">Liste des joueurs</h2>
<ul *ngIf="players.length > 0" class="list">
    <li *ngFor="let player of players">
        <h4><a [routerLink]="['/basket', player.name, player.sport]">{{player.name}}</a></h4>
      </li> 
  </ul>
  
<h2 class="title2" (click)="goalPlus = !goalPlus"> + 200 pts</h2>
<ul *ngIf="players.length > 0" [hidden]="goalPlus"  class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.points >= 200">
    <h4>{{player.name}}</h4>
    <p>{{player.points}} points en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>


<h2 class="title3" (click)="goalLess = !goalLess"> - 200 pts</h2>
<ul *ngIf="players.length > 0" [hidden]="goalLess" class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.points < 200">
    <h4>{{player.name}}</h4>
    <p>{{player.points}} points en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>
<div #myDiv>
    <button class="btn btn-primary" (click)="onChangeBackground(myDiv)">Change style</button>
</div>
<h2 *ngIf="players.length === 0"> Il n'ya pas de statistiques, pour le moment ! </h2>


