
.navbar
{
  margin-top: 5px;
  background-color: #18223a;
}
.navbar-light .navbar-brand
{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link
{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover
{
  color: #18223a;
}
.nav-link:hover
{
  background-color: #fff;
  font-weight: bold;
  text-decoration-color: #18223a;
}
.nav-link:active
{
  background-color: #fff;
  font-weight: bold;
  text-decoration-color: #18223a;
}
.navbar-light .navbar-brand:hover{
  color: blue; 
}

.log input[type=text], select{
   width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.log input[type=submit] {
    width: 50%;
    background-color: #40acdc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.log input[type=submit]:hover {
    background-color: #18223a;
}

footer{
  margin-top: 15px;
  background-color: #18223a;
  height: 50px;
}
footer p{
  text-align: center;
  padding-top: 17px;
  color: #fff;
}
/*.text-color{
  color: #ce891a !important;
  font-weight: lighter;
}*/
.text-color .navbar-brand:hover{
  color: #ce891a;
  background-color: transparent;
} 

#content
{
  margin-top: 20px;
  margin-bottom: 10px;
}

#left
{
  background-color: #40acdc;
  color: #fff;
}

.ml-auto
{
  color: #fff;
}
