.sidebar {
  background: #343a40!important;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
      font-size: 28px;
    line-height: 3;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
    /* top: 0; */
    margin-bottom: 110%;
}