{% extends 'base.html.twig' %}



{% block main %}
       <div id="content" class="row">
        <div  class="col-md-12">
       
            <img id="left" src="{{ asset('images/diploma.jpg') }}" alt="diploma">
        </div>
         
       </div>
{% endblock %}