{% extends 'base.html.twig' %}



{% block main %}
<div class="container"
       <div id="content" class="row">
        <div  class="col-xs-12 col-sm-12 col-md-md col-lg-12">
       
            <img id="left" src="{{ asset('images/diploma.jpg') }}" alt="diploma" class="img-fluid">
        </div>
         
       </div>
       </div>
{% endblock %}