body
{
	margin:0;
}
ul
{
    background-color:grey;
    border-radius:2px;
    margin-top:0px;
}

li 
{
    display: inline;
    list-style-type: none;
}
li a
{
	
	color:black;

}

div.content
{
	background-color:grey;
	display:inline-block;
	margin:auto;
}

div.list_students
{

}

 	form
{
	background-color: grey;
	display:block;
}
label
{
	width:100px;
}