<div class="block">
    <h1>Liste des étudiants</h1>
    <ul>
        <li *ngFor="let x of numbers ">
            {{x.nom}}
        </li>
    </ul>
</div>
<div class="block">
<h1>Note supérieur à 10
</h1>    
<ul>
    <li *ngFor="let x of numbers">
        <span *ngIf="x.moyenne >=10">
            {{x.nom | uppercase}} avec une moyenne de {{x.moyenne}}
        </span>
    </li>
</ul>
</div>
<div class="block">
<h1>Note inferieur à 10
</h1>    
<ul>
    <li *ngFor="let x of numbers">
        <span *ngIf="x.moyenne < 10">
            {{x.nom}}avec une moyenne de {{x.moyenne}}
        </span>
    </li>
</ul></div>