<!DOCTYPE html>
<html>
<head>
	<title>ASTON APP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	{% block header %}
		{% include 'AstonAppBundle:Default:header.html.twig'%}
	{% endblock %}
	{% block body %}{% endblock %}
	{% block footer %}
		{% include 'AstonAppBundle:Default:footer.html.twig'%}
	{% endblock %}
</body>
</html>