/* You can add global styles to this file, and also import other style files 
body,html,app-root{
    background-color: #fff;
    height: 100% !important;
    
}

*{margin: 0;padding: 0;}
app-sidebar ul,nav,footer{text-align: center;}
app-sidebar{background-color: #395f5f;float: left;height: 100%;width: 20%;}
.body{
    height: 100%;
}
app-vote{height: 100%;width: 100%;}*/