h1{
    color:red;
}
.list{
    list-style-type: none;
}
.title{
    width: 100%;
    border: solid 1px;
    border-color:black;
    background-color:#abaab9;
}

.title2{
    width: 100%;
    border: solid 1px;
    border-color:black;
    background-color:#b0abf5;
    cursor: pointer;
}

.title3{
    width: 100%;
    border: solid 1px;
    border-color:black;
    background-color:#9cdcd0;
    cursor: pointer;
}
li a {
    text-decoration: none;
    color:black;
}

