<h2  class="title">Liste des joueurs</h2>
<ul *ngIf="players.length > 0" class="list">
    <li *ngFor="let player of players">
      <h3>{{player.name}}</h3>
    </li> 
  </ul>

<h2 class="title2" (click)="goalPlus = !goalPlus"> + 10buts</h2>
<ul *ngIf="players.length > 0" [hidden]="goalPlus"  class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.buts >= 10">
    <h3>{{player.name}}</h3>
    <p>{{player.buts}} buts en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>


<h2 class="title3" (click)="goalLess = !goalLess"> - 10buts</h2>
<ul *ngIf="players.length > 0" [hidden]="goalLess" class="list">
  <li *ngFor="let player of players">
    <div *ngIf="player.buts <= 10">
    <h3>{{player.name}}</h3>
    <p>{{player.buts}} buts en {{player.match}} matchs</p>
  </div>
  </li> 
</ul>

<h2 *ngIf="players.length === 0"> Il n'ya pas de statistiques, pour le moment ! </h2>

<!-- <div class="element"></div> -->
