{% extends 'IKNSAAppBundle::layout.html.twig' %}

{% block navigation %} {% endblock %}
{% block header %}<h1>indeX</h1>{% endblock %}
	

{# On apppel à mon body #}
{% block body %}Tout notre contenu ici{% endblock %}
