
<link rel="stylesheet" type="text/css" 
    href="{{asset('css/style.css')}}">
{% extends 'IKNSAAppBundle::layout.html.twig' %}


{% block header %}
    <h1>indeX</h1>
    <hr>
{% endblock %}

{% block body %}Tout le contenu ici
<div class='maClasse'>

<img src="{{ asset('image/images.jpg') }}" alt="Example"/>
</div>
{% endblock %}