<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout Testing</title>
  </head>


  <body>
      {% block navigation %}
      {% include 'IKNSAAppBundle:Default:navigation.html.twig'%}
      <hr>
      {% endblock %}
      {% block body %}
      {% endblock %}
  </body>
</html>
