<!DOCTYPE html>
<html>
<head>

	<title>Lauyout testing</title>
</head>
<body>
	{% block header %}
		<h1>Header</h1>
	{% endblock %}

	<h3>Navigation</h3>
	{% include 'IKNSAAppBundle:Default:navigation.html.twig' %}
	<br>
	{% block body %}
	
	{% endblock %}
</body>
</html>
