<!DOCTYPE html>
<html>
<head>
	<title>TEST</title>
</head>
<body>
	{% block naviguation %}
	{% include 'IKNSAAppBundle:Default:naviguation.html.twig' %}
	{% endblock %}
	{% block body %}{% endblock %}
</body>
</html>